/*

1. Add your custom Css styles below
2. Place the this code in your template:

 <link href="css/custom.css" rel="stylesheet">

*/
.confetti {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.rainbow-text {
  background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 8s ease infinite;
}

@keyframes rainbow {
    0%{background-position:0% 50%}
    50%{background-position:100% 25%}
    100%{background-position:0% 50%}
}

.icon-scroll,
.icon-scroll:before {
    position: absolute;
    bottom: -30px;
    left: 50%
}

.icon-scroll {
    width: 30px;
    height: 50px;
    margin-left: -20px;
    margin-top: -35px;
    border: 2px solid #000;
    border-radius: 25px
}

@media (max-width: 767px) {
    .icon-scroll {
        position: relative
    }
}

.icon-scroll:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #000;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll
}

@keyframes scroll {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
        transform: translateY(26px)
    }
}
